/*html {
  background-image: url(http://31.media.tumblr.com/733a2e5122c02c051d2f50060812d8f0/tumblr_mnzrlpivt61su31alo1_400.gif);
  background-position: inherit;
  background-repeat: no-repeat;
  background-size: 60%;
}*/
